In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
raw_data = pd.read_excel('titanic.xls')

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [5]:
raw_data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
raw_data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [7]:
tmp = []
for each in raw_data['sex']:
    if each == 'female':
        tmp.append(1)
    elif each == 'male':
        tmp.append(0)
    else:
        tmp.append(np.nan)

raw_data['sex'] = tmp

In [8]:
raw_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",0,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",1,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",0,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",1,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",0,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",0,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",1,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",1,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",1,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",0,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",0,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",0,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",1,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",1,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",0,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",0,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",0,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",1,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss. Ellen",1,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",0,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",0,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",1,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",1,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",0,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0000,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3,0,"Vovk, Mr. Janko",0,22.0000,0,0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3,0,"Waelens, Mr. Achille",0,22.0000,0,0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3,0,"Ware, Mr. Frederick",0,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3,0,"Warren, Mr. Charles William",0,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3,0,"Webber, Mr. James",0,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3,0,"Wenzel, Mr. Linhart",0,32.5000,0,0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",1,38.0000,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3,0,"Widegren, Mr. Carl/Charles Peter",0,51.0000,0,0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3,0,"Wiklund, Mr. Jakob Alfred",0,18.0000,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3,0,"Wiklund, Mr. Karl Johan",0,21.0000,1,0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",1,47.0000,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",0,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,0,"Willey, Mr. Edward",0,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",0,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3,0,"Williams, Mr. Leslie",0,28.5000,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3,0,"Windelov, Mr. Einar",0,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,0,"Wirz, Mr. Albert",0,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,0,"Wiseman, Mr. Phillippe",0,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,0,"Wittevrongel, Mr. Camille",0,36.0000,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,0,"Yasbeck, Mr. Antoni",0,27.0000,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",1,15.0000,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3,0,"Youseff, Mr. Gerious",0,45.5000,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3,0,"Yousif, Mr. Wazli",0,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,0,"Yousseff, Mr. Gerious",0,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3,0,"Zabour, Miss. Hileni",1,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",1,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",0,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",0,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",0,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [9]:
raw_data['survived'] = raw_data['survived'].astype('int')
raw_data['pclass'] = raw_data['pclass'].astype('float')
raw_data['sex'] = raw_data['sex'].astype('float')
raw_data['sibsp'] = raw_data['sibsp'].astype('float')
raw_data['parch'] = raw_data['parch'].astype('float')
raw_data['fare'] = raw_data['fare'].astype('float')

raw_data = raw_data[raw_data['age'].notnull()]
raw_data = raw_data[raw_data['sibsp'].notnull()]
raw_data = raw_data[raw_data['parch'].notnull()]
raw_data = raw_data[raw_data['fare'].notnull()]

In [12]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1045 non-null float64
survived     1045 non-null int32
name         1045 non-null object
sex          1045 non-null float64
age          1045 non-null float64
sibsp        1045 non-null float64
parch        1045 non-null float64
ticket       1045 non-null object
fare         1045 non-null float64
cabin        272 non-null object
embarked     1043 non-null object
boat         417 non-null object
body         119 non-null float64
home.dest    685 non-null object
dtypes: float64(7), int32(1), object(6)
memory usage: 118.4+ KB

In [13]:
train_pre = raw_data[['pclass','sex','age','sibsp','parch','fare']]
train_pre.head()

   pclass  sex      age  sibsp  parch      fare
0     1.0  1.0  29.0000    0.0    0.0  211.3375
1     1.0  0.0   0.9167    1.0    2.0  151.5500
2     1.0  1.0   2.0000    1.0    2.0  151.5500
3     1.0  0.0  30.0000    1.0    2.0  151.5500
4     1.0  1.0  25.0000    1.0    2.0  151.5500

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_pre, raw_data[['survived']], test_size=0.1, random_state=13)

In [15]:
X_train = X_train.reset_index()
X_train = X_train.drop(['index'], axis=1)

X_test = X_test.reset_index()
X_test = X_test.drop(['index'], axis=1)

y_train = y_train.reset_index()
y_train = y_train.drop(['index'], axis=1)

y_test = y_test.reset_index()
y_test = y_test.drop(['index'], axis=1)

In [17]:
X_train.head()

   pclass  sex   age  sibsp  parch      fare
0     3.0  1.0  37.0    0.0    0.0    7.7500
1     2.0  0.0  34.0    0.0    0.0   13.0000
2     3.0  1.0  38.0    1.0    5.0   31.3875
3     2.0  0.0  31.0    0.0    0.0   13.0000
4     1.0  1.0  63.0    1.0    0.0  221.7792

In [18]:
from sklearn.tree import DecisionTreeClassifier
tree_clf = DecisionTreeClassifier(max_depth=3, random_state=13)
tree_clf.fit(X_train, y_train)
print('Score: {}'.format(tree_clf.score(X_train, y_train)))

Score: 0.8117021276595745

In [19]:
from sklearn.tree import export_graphviz

In [23]:
export_graphviz(tree_clf,
               out_file="titanic.dot",
               feature_names=['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare'],
                class_names=['Unsurvived','Survived'],
                rounded=True,
                filled=True)

In [31]:
import graphviz

In [38]:
#Path 문제 해결
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [39]:
from sklearn.tree import export_graphviz

export_graphviz(
        tree_clf,
        out_file="titanic.dot",
        feature_names=['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare'],
        class_names=['Unsurvived','Survived'],
        rounded=True,
        filled=True
    )

import graphviz
with open("titanic.dot") as f:
    dot_graph = f.read()
dot = graphviz.Source(dot_graph)
dot.format = 'png'
dot.render(filename='titanic_tree', directory='images/decision_trees', cleanup=True)
dot